*{
    padding:0.1em;
}
html{
    background-color: #ecf0f1;
}
body > header{
    background-color: #7fdbff;
}
section header{
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #A6CB45;
    padding-left: 0.5em;
    padding-top: 0.1em;
}
h5{
    text-align: right;
}
final{
    text-align: right;
}
section{
    background-color: ivory;
}
nav{
    text-align: center;
    background-color: whitesmoke;
}
li{
    margin-right: 1em;
    display: inline-flex;
}
a{
    color: #3399cc;
    text-decoration: unset;
}
main{
    display: inline-block;
    width: 84%;
}
aside{
    width: 13%;
    float: right;
    background-color: #cccc33;
    padding: 1em;
}
.Column article{
    display: inline-block;
    width: 48%;
}
.Column article ~ article{
    width: 51%;
}



