<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Gift Card</title>
    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
    <style>
        p{
            margin:0;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Regular.otf") format('otf');
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Semibold.otf") format('otf');
            font-weight: 600;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Bold.otf") format('otf');
            font-weight: bold;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Extrabold.otf") format('otf');
            font-weight: 900;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Regular-Italic.otf") format('otf');
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Semibold-Italic.otf") format('otf');
            font-weight: 600;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url('./assets/fonts/Proxima-Nova-Bold-Italic.otf') format('otf');
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("./assets/fonts/Proxima-Nova-Extrabold-Italic.otf") format('otf');
            font-weight: 900;
            font-style: italic;
        }

        @font-face {
            font-family: "Proxima Nova Alt";
            src: local("ProximaNovaAlt"),
            url("./assets/fonts/Proxima-Nova-Alt.ttf") format("truetype");
            font-weight: normal;
        }
        body{
            font-family: proxima-nova, Verdana, sans-serif;
        }
    </style>
</head>
<body>
<center>
    <table role="presentation" width="650px" cellpadding="0" cellspacing="0" border="0" >
        <tr>
            <td>
                <table role="presentation" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <table align="center"  role="presentation" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td><img src="{{flykube_logo}}" width="244" style="height: auto; display: block;margin-top:70px;margin-bottom:10px"/></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0"><tr><td>
                                        <p style="margin-bottom:20px;margin-top:20px;padding:15px;font-size: 30px; font-weight: bold;color:#FFFFFF;border-radius: 20px;background:#FD3874;text-transform: uppercase">¡FELICIDADES!</p>
                                    </td></tr></table></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td><p style="max-width:530px;text-align:center;margin-top:10px;margin-bottom:10px;font-size: 23px;letter-spacing:2px;font-weight: 901;color:#FD3874;text-transform: uppercase">TE HAN REGALADO UN VIAJE SORPRESA</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td><img src="{{img_world}}" width="650" style="height: auto; display: block;margin-top:70px;margin-bottom:10px"/></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table  role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-left: 20px">
                                            <tr>
                                                <td><p style="width:580px;padding-top:20px;padding-bottom:10px;font-size: 30px; font-weight: bold;color:#FD3874;">DESTINO SORPRESA</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table  role="presentation" cellpadding="0" cellspacing="0" border="0" style="padding-left:20px;" >
                                            <tr>
                                                <td><p style="width:550px;font-size: 18px;text-align:left;padding-right:20px;padding-bottom:20px;line-height: 25px;">¿Te imaginas la adrenalina de no saber a dónde viajas hasta 2 días antes del viaje?</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <table align="left" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td>
                                                    <table role="presentation" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <th><p style="font-size: 23px;padding-top: 30px;padding-bottom: 20px">DETALLES DE TU RESERVA&nbsp;&nbsp;&nbsp;<span style="color:#FD3874;">&minus;&nbsp;&minus;&nbsp;&minus;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table  role="presentation" cellpadding="0" cellspacing="0" border="0">
                                                                    <tr>
                                                                        <td>
                                                                            <table  role="presentation" cellpadding="0" cellspacing="0" border="0">
                                                                                <tr>
                                                                                    <td><img src="{{img_adjust}}" width="25" style="height: auto; display: block"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Eliges las fechas pero no el destino</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_calendar}}" width="20" style="height: auto; display: block;padding-left: 2px"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_flyIcon}}" width="25" style="height: auto; display: block"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_passenger}}" width="20" style="height: auto; display: block;padding-left: 2px"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;font-weight: bold;color:#FD3874;">&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;</p></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table  role="presentation" cellpadding="0" cellspacing="0" border="0">
                                                                                <tr>
                                                                                    <td><img src="{{img_hotel}}" width="25" style="height: auto; display: block"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Hotel 3 o 4 estrellas céntrico</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_java}}" width="20" style="height: auto; display: block;padding-left: 2px"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_tourist}}" width="25" style="height: auto; display: block"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><img src="{{img_point}}" width="20" style="height: auto; display: block;padding-left: 2px"/></td>
                                                                                    <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Destino sorpresa</p></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><table   role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                        <tr>
                                            <td><p style="max-width:530px;margin-top:30px;margin-bottom:10px;font-size: 23px;letter-spacing:2px;font-weight: 901;color:#FD3874;text-transform: uppercase">POR VALOR DE <span>{{price}}</span></p></td>
                                        </tr>
                                        <tr>
                                            <td><table   role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                                <tr>
                                                    <td><img src="{{img_phone}}" width="40" style="height: auto; display: block"/></td>
                                                    <td><p style="max-width:520px;font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;">Tienes que entrar en el siguiente enlace e introducir el código que tienes más abajo</p></td>
                                                </tr>
                                            </table></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table  align="center" role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                                    <tr>
                                                        <td><table  align="center" role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                                            <tr>
                                                                <td><p style="min-width: 260px;margin-bottom:20px;margin-top:20px;padding-top:8px;padding-bottom:10px;padding-left:20px;padding-right:20px;font-size: 18px;text-align:center;color:#FFFFFF;border-bottom-left-radius: 20px;border-top-left-radius:20px;background:#FD3874;">https://www.flykube.com/es</p></td>
                                                                <td><p style="min-width: 260px;margin-bottom:20px;margin-top:20px;padding-top:8px;padding-bottom:8px;padding-left:20px;padding-right:20px;font-size: 18px;text-align:center;border-bottom-right-radius: 20px;border-top-right-radius:20px;border:1px solid #FD3874;">
                                                                    {{reservation_code}}</p></td>
                                                            </tr>
                                                        </table></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                    <td><table  role="presentation" cellpadding="0" cellspacing="0" border="0" style="width: 616px">
                                        <tr>
                                            <td><table align="center"  role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                                <tr>
                                                    <td><p style="max-width:520px;font-size:23px;font-weight:999;color:#FD3874;padding-right: 25px;padding-bottom: 10px;padding-top: 35px;">¡Y A VOLAR!</p></td>
                                                    <td><img src="{{img_fly}}" width="40" style="height: auto; display: block;padding-top: 35px;padding-bottom: 15px"/></td>
                                                </tr>
                                            </table></td>
                                        </tr>
                                        <tr>
                                            <td><table   role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                                <tr>
                                                    <td><img src="{{img_adjust}}" alt="phone icon" width="40" style="height: auto; display: block"/></td>
                                                    <td><p style="max-width:460px;font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 10px;"><span style="color:#FD3874;">Una vez canjeado el código, solo queda personalizar tu viaje:</span></p></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><p style="max-width:460px;font-size:18px;padding-left: 5px;padding-bottom: 10px;">Escoger las fechas del viaje, descartar posibles destinos, añadir facturacion de equipaje y demás opciones que ofrecemos.</p></td>
                                                </tr>
                                            </table></td>
                                        </tr>
                                    </table></td>
                                </tr>
                                <td><table   align="center" role="presentation" cellpadding="0" cellspacing="0" border="0" >
                                    <tr>
                                        <td><p style="font-size:18px;padding-left: 5px;padding-bottom: 10px;padding-top: 50px;font-weight: bold;color:#FD3874;text-align: center;">&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="font-size:23px;padding-left: 5px;padding-bottom: 20px;font-style: italic;font-weight:bold;color:#FD3874;text-align: center">CONDICIONES</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="max-width:600px;font-size:20px;padding-left: 5px;padding-bottom: 10px;text-align: center">La reserva se realizará antes de 12 meses, eso es antes del 30, Agosto 2022</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="max-width:600px;font-size:16px;line-height:30px;padding-left: 5px;padding-bottom: 10px;text-align: center">El cupón de descuento tiene una validez de 36 meses de duración. Puede viajar en cualquier fecha (dependiendo de la disponibilidad en el sitio web).
                                            El afortunado/a, tan sólo tendrá que introducir el código de descuento de este cupón al finalizar su reserva y se le aplicará un descuento de 300€ sobre el precio total del viaje.
                                            Puede comprar y usar más de un cupón, sin límite en la cantidad de cupones de compra; sin embargo, no puede acumular más cupones que 1 en la mísma reserva. Cada cupón debe ser obligatorio para una reserva separada; solo se puede usar una vez y se cancelará después de su uso.Una vez que la reserva ha sido confirmada, los términos y condiciones en el sitio son aplicables y pueden consultarse durante la fase de compra.
                                            El cupón no es convertible en efectivo ni se puede combinar con otras ofertas.</p></td>
                                    </tr>
                                </table></td>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><table  align="center" width="650px" role="presentation" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-left:12px;padding-top: 2px;padding-bottom: 2px"/></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-left:12px;padding-top: 2px;padding-bottom: 2px"/></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-left:12px;padding-top: 2px;padding-bottom: 2px"/></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{img_letter}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><p style="text-align:center;max-width:500px;font-size:18px;padding-left: 5px;padding-top: 10px;">Para cualquier duda, podéis contactar con nosotros a través de <a href=" " style="text-decoration: unset;color:#FD3874;font-weight: 601">info@flykube.com</a></p></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-top: 20px;padding-bottom: 2px"/></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-top: 2px;padding-bottom: 2px"/></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{img_verticalLine}}" width="3" style="height: auto; display: block;padding-top: 2px;padding-bottom: 5px"/></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><img src="{{img_instagram}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                        <td><img src="{{img_facebook}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                        <td><img src="{{img_twitter}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                        <td><img src="{{img_pinterest}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                        <td><img src="{{img_youtube}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                        <td><img src="{{img_linkedin}}" width="30" style="height: auto; display: block;padding-top: 5px;padding-bottom: 5px"/></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><p style="text-align:center;max-width:550px;font-size:18px;padding-left: 5px;padding-top: 10px;">¡Recuerda seguirnos en nuestras redes sociales para descubrir todas nuestras ofertas y
                                            promociones!</p></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td>
                                    <table  align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td><img src="{{img_flykube_logo}}" width="150" style="height: auto; display: block;margin-top:60px;margin-bottom:10px;"/></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td><p style="text-align:center;max-width:500px;font-size:14px;color:#2D2C2C;">FlyKube SL , Gran Vía 415, Barcelona, España 08015</p></td>
                                        </tr>
                                        <tr>
                                            <td><p style="text-align:center;max-width:500px;font-size:14px;color:#2D2C2C;padding-top: 10px;margin-bottom: 120px">Este correo electrónico fue enviado a @, pulse aquí para cancelar la suscripción.</p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>