<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <title></title>
  <!--[if mso]>
  <style type="text/css">
    table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
    div, td {padding:0;}
    div {margin:0 !important;}
  </style>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
  <style type="text/css">

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-Regular.ttf") format("opentype");
    }

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-SemiBold.ttf") format("opentype");
      font-weight: 600;
    }

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-Bold.ttf") format("opentype");
      font-weight: bold;
    }

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-ExtraBold.ttf") format("opentype");
      font-weight: 900;
    }

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-SemiBoldItalic.ttf") format("opentype");
      font-weight: 600;
      font-style: italic;
    }

    @font-face {
      font-family: poppins;
      src: url('./resources/assets/fonts/Poppins-BoldItalic.ttf') format("opentype");
      font-weight: 700;
      font-style: italic;
    }

    @font-face {
      font-family: poppins;
      src: url("./resources/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("opentype");
      font-weight: 900;
      font-style: italic;
    }
  </style>
</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
<div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
  <table role="presentation" style="width:100%;border:0;border-spacing:0;">
    <tr>
      <td align="center">
        <!--[if mso]>
        <table role="presentation" align="center" style="width:600px;background-color:#0B1B4F;">
          <tr>
            <td style="padding:20px 0;">
        <![endif]-->
        <div class="outer" style="background-color:#0B1B4F;width:96%;max-width:600px;margin:20px auto;">
          <!--header-->
          <table role="presentation" style="background-image: url('resources/images/background-header.png');background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
            <tr>
              <td style="padding-top: 70px;padding-bottom: 70px">
                <table role="presentation" style="width:312px;margin:auto;border:0;border-spacing:0;">
                  <tr>
                    <td>
                      <img src="resources/images/logo.png" width="312" alt="kubecoin logo" style="width: 100%;max-width:312px;height: auto; display: block;"/>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="background-image: url('resources/images/background-recover-header-title.png');background-size:600px;
                    background-repeat:no-repeat;padding-top: 85px;padding-bottom: 70px">
                <table align="center" role="presentation" style="width:320px;margin:auto;border:0;border-spacing:0;">
                  <tr>
                    <td>
                      <p style="font-family:poppins,sans-serif;font-size: 70px;text-align:center;font-weight:bolder;color:white;padding:0;margin:0 ">
                        {% trans "Hi"%}</p>
                      <p style="font-family:poppins,sans-serif;font-size: 36px;text-align:right;font-weight:501;color:white;padding:0;margin:0 ">
                        {{ user.first_name }}
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--body-->
          <table role="presentation" style="width:100%;border:0;border-spacing:0;">
            <tr>
              <td style="text-align:center;padding-top: 15px;padding-bottom: 15px;padding-right: 70px;padding-left: 70px">
                <p style="font-family:poppins,sans-serif;font-size: 30px;font-weight:bold;color:white;padding:0;margin:0 ">
                  {% trans "CONGRATULATIONS!" %}
                </p>
                <p style="font-family:poppins,sans-serif;font-size: 30px;color:white;padding:0;margin:0 ">
                  {% trans "You have successfully passed our KYC process!" %}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 15px;padding-bottom: 15px;padding-right: 120px;padding-left: 120px">
                <p style="font-family:poppins,sans-serif;font-size: 16px;color:white;padding:0;margin:0 ">
                  {% trans "You are one step close to participating in OUR ICO" %}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 15px;padding-bottom: 15px;padding-right: 120px;padding-left: 120px">
                <p style="font-family:poppins,sans-serif;font-size: 16px;color:white;padding:0;margin:0 ">
                  {% trans "You will receive an email about the launch of our ICO shortly, so stay tuned into our Official Social Media Channels and your email. " %}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 15px;padding-bottom: 15px;padding-right: 120px;padding-left: 120px">
                <p style="font-family:poppins,sans-serif;font-size: 16px;color:white;padding:0;margin:0 ">
                  {% trans "Do not miss out!" %}
                </p>
              </td>
            </tr>
            <tr>
              <td style="text-align:center;padding-top: 15px;padding-bottom: 15px">
                <table role="presentation" style="display:inline-block;border:0;border-spacing:0;">
                  <tr>
                    <td valign="middle" style="background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--F7w_snYb--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/vda3askm2sbfjl717q9q.png');background-size:110%;
                    background-repeat:no-repeat;vertical-align:center;height: 46px;min-width: 230px;border-radius: 20px;padding-left:5px;padding-right:5px">
                      <a href="https://kubecoin.org/invest/" target="_blank" style="text-decoration:unset;font-family:poppins,sans-serif;font-size: 20px;font-weight:700;color:white;padding:0;margin:0 ">
                        {% trans "Go to the ICO" %}
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>
          <!--footer-->
          <table role="presentation" style="background-image: url('resources/images/background-footer.png');background-size:100%;
                    background-repeat:no-repeat;text-align:center;width:100%;border:0;border-spacing:0;">
            <tr>
              <td>
                <div class="spacer" style="line-height:120px;height:120px;mso-line-height-rule:exactly;">&nbsp;</div>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;">
                <p style="font-family:proxima-nova,sans-serif;font-size: 13px;font-weight:600;color:white;padding:0;margin:0 ">
                  {% trans "Follow us"%}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 10px;padding-bottom: 10px;">
                <table align="center" role="presentation" style="width:56%;min-width:314px;border:0;border-spacing:0;table-layout: fixed">
                  <tr>
                    <td>
                      <a href="https://twitter.com/Kubecoin_" target="_blank">
                        <img src="resources/images/twitter.png" alt="twitter icon" width="34" style="width: 100%;max-width:34px;height: auto;"/>
                      </a>
                      <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin-top:5px ">@Kubecoin_</p>
                    </td>
                    <td>
                      <a href="https://t.me/kubecoin" target="_blank">
                        <img src="resources/images/telegram.png" alt="telegram icon" width="34" style="width: 100%;max-width:34px;height: auto;"/>
                      </a>
                      <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin-top:5px ">Kubecoin</p>
                    </td>
                    <td>
                      <a href="https://discord.gg/y6tS98NtrW" target="_blank">
                        <img src="resources/images/discord.png" alt="discord icon" width="34" style="width: 100%;max-width:34px;height: auto;"/>
                      </a>
                      <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin-top:5px ">Kubecoin</p>
                    </td>
                    <td>
                      <a href="https://medium.com/@kubecoin" target="_blank">
                        <img src="resources/images/medium.png" alt="medium icon" width="34" style="width: 100%;max-width:34px;height: auto;"/>
                      </a>
                      <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin-top:5px ">@KubeCoin</p>
                    </td>
                    <td>
                      <a href="https://www.youtube.com/c/KubeCoin" target="_blank">
                        <img src="resources/images/youtube.png" alt="youtube icon" width="34" style="width: 100%;max-width:34px;height: auto;"/>
                      </a>
                      <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin-top:5px ">/KubeCoin</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="display: inline-block;padding-top: 20px;padding-bottom: 20px;">
                <img src="resources/images/logo.png" width="192" style="width: 100%;max-width:192px;height: auto; display: block;" alt="kubecoin logo"/>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;">
                <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin:0 ">
                  Kube Ecosystem S.L. - ESB67040998 © All rights reserved
                </p>
                <p style="font-family:proxima-nova,sans-serif;font-size: 9px;font-weight:600;color:white;padding:0;margin:0 ">
                  <br/>Gran Vía 415, Barcelona, España 08015
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>
              </td>
            </tr>
          </table>
        </div>
        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </td>
    </tr>
  </table>
</div>
</body>
</html>