@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class*="flaticon"]:before,
[class*="flaticon"]:after {
    font-family: Flaticon, sans-serif;
    font-style: normal;
}

.terrace:before { content: "\f100"; }
.wifi:before { content: "\f101"; }
.car:before { content: "\f102"; }
.mail:before { content: "\f103"; }
.plane:before { content: "\f104"; }
.hotelPoster:before { content: "\f105"; }
.star:before { content: "\f106"; }
.tv:before { content: "\f107"; }
.cutlery:before { content: "\f108"; }
.bus:before { content: "\f109"; }
.smile:before { content: "\f10a"; }
.userShape:before { content: "\f10b"; }
.phone:before { content: "\f10c"; }
.swim:before { content: "\f10d"; }
.conveyor:before { content: "\f10e"; }
.parking:before { content: "\f10f"; }
.cocktail:before { content: "\f110"; }
.hotelShape:before { content: "\f111"; }
.train:before { content: "\f112"; }
.gift:before { content: "\f113"; }
.dog:before { content: "\f114"; }
.marker:before { content: "\f115"; }
.massage:before { content: "\f116"; }
.flightSchedule:before { content: "\f117"; }
.gym:before { content: "\f118"; }
.beach:before { content: "\f119"; }
.chevronRight:before { content: "\f11a"; }
.eightCircle:before { content: "\f11b"; }
.minus:before { content: "\f11c"; }
.plus:before { content: "\f11d"; }
.instagram:before { content: "\f11e"; }
.planeEarth:before { content: "\f11f"; }
.threePersons:before { content: "\f120"; }
.calendarClock:before { content: "\f121"; }
.magnifierTool:before { content: "\f122"; }
.chevronLeft:before { content: "\f123"; }
.chevronUp:before { content: "\f124"; }
.sevenCircle:before { content: "\f125"; }
.chevronBottom:before { content: "\f126"; }
.calendarLittle:before { content: "\f127"; }
.arrowAngle:before { content: "\f128"; }
.linkedin:before { content: "\f129"; }
.youtube:before { content: "\f12a"; }
.planeTakeOff:before { content: "\f12b"; }
.smartphone:before { content: "\f12c"; }
.twitter:before { content: "\f12d"; }
.facebook:before { content: "\f12e"; }
.plant:before { content: "\f12f"; }
.arrowRight:before { content: "\f130"; }
.rightArrow:before { content: "\f131"; }
.highFive:before { content: "\f132"; }
.user:before { content: "\f133"; }
.closeCircle:before { content: "\f134"; }
.planeTakeOffLine:before { content: "\f135"; }
.planeShape:before { content: "\f136"; }
.email:before { content: "\f137"; }
.shop:before { content: "\f138"; }
.clock:before { content: "\f139"; }
.oneCircle:before { content: "\f13a"; }
.twoCircle:before { content: "\f13b"; }
.fiveCircle:before { content: "\f13c"; }
.fourCircle:before { content: "\f13d"; }
.threeCircle:before { content: "\f13e"; }
.nineCircle:before { content: "\f13f"; }
.sixCircle:before { content: "\f140"; }
.event:before { content: "\f141"; }
.space:before { content: "\f142"; }
.planeShapeDetail:before { content: "\f143"; }
.bedroom:before { content: "\f144"; }
.breakfast:before { content: "\f145"; }
.book:before { content: "\f146"; }
.hotAirBalloon:before { content: "\f147"; }
.planeTicket:before { content: "\f148"; }
.coupon:before { content: "\f149"; }
.messageBubble:before { content: "\f14a"; }
.close:before { content: "\f14b"; }
.menu:before { content: "\f14c"; }
.planeShape1:before { content: "\f14d"; }
.hotelShape1:before { content: "\f14e"; }
.plusSign:before { content: "\f14f"; }
.minusSign:before { content: "\f150"; }
.closeBold:before { content: "\f151"; }
.call:before { content: "\f152"; }
.carFunnel:before { content: "\e853"; }
.carTopbar:before { content: "\e901"; }
.breakfast-coffee:before { content: "\e854"; }
.shieldfile:before { content: "\e900"; }
