<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <title></title>
    <!--[if mso]>
    <style type="text/css">
        table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}


    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->

    <style type="text/css">

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular.otf' %}") format("opentype");
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold.otf' %}") format("opentype");
            font-weight: 600;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold.otf' %}") format("opentype");
            font-weight: bold;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold.otf' %}") format("opentype");
            font-weight: 900;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular-Italic.otf' %}") format("opentype");
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold-Italic.otf' %}") format("opentype");
            font-weight: 600;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold-Italic.otf' %}") format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold-Italic.otf' %}") format("opentype");
            font-weight: 900;
            font-style: italic;
        }

        @font-face {
            font-family: "Proxima Nova Alt";
            src: local("ProximaNovaAlt"),
            url("{% static 'mail_templates/fonts/Proxima-Nova-Alt.ttf") format("truetype");
            font-weight: normal;
        }


        .color{
            color:#F05638;
        }
    </style>

</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
<div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td align="center">
                <!--[if mso]>
                <table role="presentation" align="center" style="width:600px;">
                    <tr>
                        <td style="padding:20px 0;">
                <![endif]-->
                <div class="outer" style="width:96%;max-width:600px;margin:20px auto;">
                    <!--here begins the code-->
                    <!--HEADER-->
                    <table role="presentation" style="background-image: url("{% static 'mail_templates/images/header-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr style="height: 212px">
                            <td colspan="2" style="text-align:left;padding:10px 10px 20px 10px;">
                                <table role="presentation" style="border:0;border-spacing:0;text-align: center;">
                                    <tr>
                                        <td>
                                            <td><img src="../../../resources/images/eatkube-logo.png" width="180" style="width:180px;height: auto; display: inline-block;"/></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="textColor" style="display:inline-block;font-family:proxima-nova,sans-serif;font-size:20px;font-weight:701;color:#F05638;text-transform: uppercase;width:330px;padding: 0;margin:0">{% trans "
                                                WE HAVE RECEIVED YOUR APPLICATION
                                            " %}</h2>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:120px;text-align:right;padding:10px 10px 20px 10px;" valign="bottom">
                                <table align="right"  role="presentation" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; text-align: center">
                                    <tr>
                                        <td valign="top"><div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:15px;font-weight: 501;color:white;padding: 0;margin:0 ">{% trans "
                                                THE TASTE OF
                                            " %}</p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:40px;font-weight:801;color:white;padding: 0;margin:0 ">{% trans "
                                                Surprises
                                            " %}</p>
                                        </td>
                                        <td valign="middle"><div class="leftStars" style="background-image: url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:10px 0 20px 40px;" valign="bottom">
                                <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;padding: 0;margin:10px 0 10px 0 ">
                                    ¡Hello {{restaurant_name}}!
                                </h2>
                                <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!--text-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td style="padding-left: 40px;">
                                <p style="font-family:proxima-nova,sans-serif;font-size: 16px;max-width:400px;color:black;padding:0;margin:0 ">
                                    Our team is evaluating your application. One of our team will be in contact with you shortly in order to continue the onboarding process
                                </p>
                                <p style="font-family:proxima-nova,sans-serif;font-size: 16px;color:black;padding:0;margin:0 ">
                                    <br/>Thank you!
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- footer-->
                    <table role="presentation" style="background-image: url("{% static 'mail_templates/images/footer-background.png' %}");background-size:600px;width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center; padding-top: 200px">
                                    <tr>
                                        <td style="min-width: 220px" >
                                            <img src="../../../resources/images/letter-icon.png" width="24" style="width: 24px;height: auto; display: inline-block;" alt="letter icon"/>
                                        </td>
                                        <td rowspan="2">
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <img src="../../../resources/images/social-icons.png" width="164" style="width: 164px;height: auto; display: inline-block;" alt="social nerwork icons"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">{% trans "
                                                Contact us through
                                            " %}</p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:#F05638;padding:0;margin:0 ">
                                                info@eatkube.com.
                                            </p>
                                        </td>
                                        <td style="display: inline-block">
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;width:230px;color:black;padding:0;margin:0 ">
                                                Remember to follow us on our social media pages so that you don’t miss out on our offers and promotions
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                                    <tr>
                                        <td><img src="../../../resources/images/eatkube-logo.png" width="54" style="width:54px;height: auto; display: block;margin:40px 0px 5px 0px "/></td>
                                        <td><h2 style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:#F05638;margin:40px 0px 5px 0px " >{% trans "EatKube" %}</h2></td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                Kube Ecosystem S.L. ESB67040998 - Gran via 415, Barcelona, Spain 08015.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">{% trans "
                                                This email was sent as a booking notification
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                    <!--Here ends the code-->
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>

