
/********************** ELEMENTOS GENERALES DE LA PÁGINA **************/
*
{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body{
	text-align: center;
}

h1,h3, nav a
{
	font-family: Helvetica Neue, Arial, serif;
	font-weight: normal;
	
}

a:hover
{
	color: #7ABA96;
}

/********************** HEADER **************/
div.logo{
	text-align: center;
	 width: 100%;
 	height: 120px;
 	padding-top: 9px; 
}

img.logo{
 width: 375px;
 height: 111px;
}

header
{
	display: inline-block;
	width: 1440px;
	text-align: center;
	position: sticky;
  	top: 0;
  	z-index: 100;
}


/********************** MENÚ NAVEGACIÓN **************/

header nav
{
	border: 0px;
	border-top-width: 0.5px;
	border-bottom-width: 0.5px;
	border-style: solid;
	border-color: #8A8070;
 	height: 40px;
	padding-top: 20px;
	background-color: white;
}
header nav ul
{
	list-style-type: none;
	text-align:center;
	text-transform: uppercase;
}
header nav li
{
	display: inline-block;
	margin-right: 15px;
}
header nav a
{
	font-size: 1em;
	padding-bottom: 3px;
	text-decoration: none;
	color: black;
}
nav a:hover
{
	font-size: 1;
	color: #7ABA96;
}


/********************** MAIN **************/
main{
	text-align: center;
}

aside{
	color: grey;
	display: inline-block;
	width: 280px;
	margin:0px 20px 0px 0px;
	text-align: center;
}
article.content-isa{
	vertical-align: top;
	text-align: center;
	width: 280px;
	margin:10px 0px 10px 0px;
	
}

article.content-isa img{
 width: 150px;
 height: 150px;
 margin:20px 20px 20px 20px;
}

article.content-pub{
	vertical-align: top;
	text-align: center;
	width: 280px;
	margin:20px 0px 10px 0px;
	background-color: #EEEEEE;
}

article.content-pub img{
 width: 190px;
 height: 277px;
}

article.content-pub a{
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #7ABA96;
	color:black;
	display: block;
	width:100%;
}

section.content-recetas{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 860px;
	
}

article.content-recetas{
	width: 380px;
	margin:20px 20px 40px 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

article.content-recetas a, article.content-isa h3, article.content-pub h3{
	display: inline-block;
	font-size: 1.1em;
	margin: 15px 10px 0px 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}

article.content-recetas a:hover
{
	color: #8A8070;
}

article.content-recetas img{
	display: inline-block;
	width: 375px;
	height: 250px;
	margin: 5px;
	
}

.fecha{
	font-size: 0.8em;
	text-align: center;
	font-weight: lighter;
	border-top: 1px solid #7ABA96;
	border-bottom: 1px solid #7ABA96;
}

article p
{
	font-size: 0.9em;
	font-weight: lighter;
	margin: 15px 10px 10px 10px; 
	text-align: justify;
}




/********************** FOOTER **************/
footer
{
	margin-top: 15px;
	padding: 40px 40px;
	background-color: #212121;
	text-align: center;
}

footer a
{
	display: inline-block;
	font-size: 1em;
	padding-bottom: 3px;
	margin-right: 40px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
}






