{% extends "mails/base.html" %}
{% load i18n %}
{% load static %}


{% block style %}
    {% static "mail_templates/images/classy/classy-header-background.png" as header_background_image %}
    {% static "mail_templates/images/classy/classy-right-stars.png" as right_stars %}
    {% static "mail_templates/images/classy/classy-left-stars.png" as left_stars %}
    {% static "mail_templates/images/classy/classy-clock-icon.png" as clock_icon %}
    {% static "mail_templates/images/classy/classy-calendar-icon.png" as calendar_icon %}
    {% static "mail_templates/images/classy/classy-adjust-icon.png" as adjust_icon %}
    {% static "mail_templates/images/classy/classy-present-icon.png" as present_icon %}
    {% static "mail_templates/images/classy/classy-include-icon.png" as include_icon %}
    {% static "mail_templates/images/classy/classy-ring-icon.png" as right_icon %}
    {% static "mail_templates/images/classy/classy-coctel-icon.png" as coctel_icon %}
    {% static "mail_templates/images/classy/classy-dessert-icon.png" as dessert_icon %}
    {% static "mail_templates/images/classy/classy-footer-background.png" as footer_background %}

    .classyTitle {
        margin-bottom: -12px !important;
    }
    .classySubtitle {
        margin-top: -5px !important;
    }
    .classy .headerBackground {
        background-image: url("{{ header_background_image }}") !important;
    }
    .classy .textColor {
        color: #D28D2E !important;
    }
    .classy .verticalLine {
        border-left: 2px solid #D28D2E !important;
    }
    .classy .leftStars {
        background-image: url("{{ left_stars }}") !important;
    }
    .classy .rightStars {
        background-image: url("{{ right_stars }}") !important;
    }
    .classy .clock {
        background-image: url("{{ clock_icon }}") !important;
    }
    .classy .calendar {
        background-image: url("{{ calendar_icon }}") !important;
    }
    .classy .adjust {
        background-image: url("{{ adjust_icon }}") !important;
    }
    .classy .present {
        background-image: url("{{ present_icon }}") !important;
    }
    .classy .include {
        background-image: url("{{ include_icon }}") !important;
    }
    .classy .ring {
        background-image: url("{{ right_icon }}") !important;
    }
    .classy .drink {
        background-image: url("{{ coctel_icon }}") !important;
        background-size: 28px !important;
        width: 28px!important;
        height: 38px !important;
    }
    .classy .dessert {
        background-image: url("{{ dessert_icon }}") !important;
    }
    .classy .footerBackground {
        background-image: url("{{ footer_background }}") !important;
    }
{% endblock %}

{% block content_style %}classy{% endblock %}

{% block content %}
    {% static "mail_templates/images/classy/classy-header-background.png" as header_background_image %}
    {% static "mail_templates/images/classy/classy-right-stars.png" as right_stars %}
    {% static "mail_templates/images/classy/classy-left-stars.png" as left_stars %}
    {% static "mail_templates/images/classy/classy-clock-icon.png" as clock_icon %}
    {% static "mail_templates/images/classy/classy-calendar-icon.png" as calendar_icon %}
    {% static "mail_templates/images/classy/classy-adjust-icon.png" as adjust_icon %}
    {% static "mail_templates/images/classy/classy-present-icon.png" as present_icon %}
    {% static "mail_templates/images/classy/classy-include-icon.png" as include_icon %}
    {% static "mail_templates/images/classy/classy-ring-icon.png" as right_icon %}
    {% static "mail_templates/images/classy/classy-coctel-icon.png" as coctel_icon %}
    {% static "mail_templates/images/classy/classy-dessert-icon.png" as dessert_icon %}
    {% static "mail_templates/images/classy/classy-footer-background.png" as footer_background %}
    <table role="presentation" class="headerBackground" style="background-image: url('{{ header_background_image }}');background-size:600px; background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
        <tr style="height: 212px">
            <td colspan="2" style="text-align:left;padding:10px 10px 20px 10px;">
                <table role="presentation" style="border:0;border-spacing:0;text-align: center">
                    <tr>
                        <td>
                            <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td><img src="{% static 'mail_templates/images/eatkube-logo.png' %}" width="54" style="width:54px;height: auto; display: block;"/></td>
                                    <td><h2 style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:black;">EatKube</h2></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="rightStars" style="background-image: url('{{ right_stars_background_image }}');background-size: 36px;width:36px;height: 40px; display: inline-block;"> </div>
                            <h2 class="textColor" style="display:inline-block;font-family:proxima-nova,sans-serif;font-size:22px;font-weight:701;color:#F05638;text-transform: uppercase;padding: 0;margin:0">
                                {% trans "Reservation confirmed!" %}
                            </h2>
                            <div class="leftStars" style="background-image:url('{{ left_stars }}');background-size:36px;display:inline-block;width:36px;height:40px;"> </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size:18px;font-weight:701;color:#F05638;margin:0 ">
                                {% trans "Your surprise restaurant awaits you" %}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:120px;text-align:right;padding:10px 10px 20px 10px;" valign="bottom">
                <table align="right"  role="presentation" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; text-align: center">
                    <tr>
                        <td valign="top"><div class="rightStars" style="background-image: url('{{ right_stars_background_image }}');background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size:15px;font-weight: 501;color:white;padding: 0;margin:0 ">
                                {% trans "THE TASTE OF" %}
                            </p>
                            <p style="font-family:proxima-nova,sans-serif;font-size:40px;font-weight:801;color:white;padding: 0;margin:0 ">
                                {% trans "Surprises" %}
                            </p>
                        </td>
                        <td valign="middle"><div class="leftStars" style="background-image: url('{{ left_stars_background_image }}');background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;padding:10px 0 20px 40px;" valign="bottom">
                <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;padding: 0;margin:10px 0 10px 0 ">
                    {% blocktrans trimmed with name=order.name %}
                        Hello {{ name }}!
                    {% endblocktrans %}
                </h2>
                <p style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 501;color:black;font-style: italic;padding: 0;margin:0 ">
                    {% trans "Thank you for booking with EatKube!" %}
                </p>
            </td>
        </tr>
    </table>

    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

    <!--UN RESTAURANTE Y UN MENU-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td>
                <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px;font-weight:601;text-align:center;text-transform:uppercase;color:#F05638;padding:0;margin:30px 0px 30px 0px">
                    {% trans "Both the restaurant and menu will be a surprise!" %}
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <table align="center" role="presentation" style="width:75%;border:0;border-spacing:0;display: inline-block">
                    <tr>
                        <td valign="top">
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                        </td>
                        <td valign="top" style="display: inline-block;width: 48px;">
                            <div class="clock" style="background-image: url('{{ clock_icon }}');
                            background-size: 28px;background-repeat:no-repeat;width:28px;height: 32px; display: inline-block;"> </div>
                        </td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;font-style: italic;padding:0;margin:0">
                                {% trans "You will receive more information 2 hours before your reservation" %}.<br><br>
                                {% trans "The perfect way to discover new restaurants in your city and to try different cooking styles in an innovative way" %}.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

    <!--Detalles de tu reserva-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td>
                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;">
                    <tr>
                        <td style="width: 36px">
                            <div class="calendar" style="background-image: url('{{ calendar_icon }}');background-size: 24px; background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"></div>
                        </td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">
                                {% trans "Reservation details" %}
                            </p>
                        </td>
                    </tr>
                </table>

                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px">
                    <tr>
                        <td rowspan="4" style="padding-right: 5px">
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                        </td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                {% trans "Date" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                {{ order.day }}
                            </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                {% trans "Time" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                {{ order.hour }}
                            </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                {% trans "City" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                {{ order.city }}
                            </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                {% trans "Number of people" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                {{ order.number_of_people }}
                            </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

    <!--Tu pack gastronomico-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td>
                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 30px;">
                    <tr>
                        <td style="width: 34px">
                            <div class="adjust" style="background-image: url('{{ adjust_icon }}'); background-size: 24px;background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"></div>
                        </td>
                        <td style="width: 250px">
                            <h2 style="display: inline-block;font-family:proxima-nova,sans-serif;font-size: 18px;font-style:italic;font-weight:501;color:black;padding: 0;margin:0 ">
                                {% trans "Your gastronomic package" %}
                            </h2>
                        </td>
                        <td>
                            <div style="border: 2px solid #CECECE;background-color:#CECECE"></div>
                        </td>
                    </tr>
                </table>
                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                    <tr>
                        <td rowspan="2">
                            <div class="present" style="background-image: url('{{ present_icon }}');background-size: 48px;background-repeat:no-repeat;width:48px;height: 56px; display: inline-block;"></div>
                        </td>
                        <td>
                            <p class="textColor classyTitle" style="font-family:proxima-nova,sans-serif;font-size: 42px;font-weight:701;color:#F05638;padding:0;margin-top:0;margin-bottom:0px">
                                {{ order.hired_experience_name|upper }}
                            </p>
                        </td>
                        <td rowspan="2" valign="bottom">
                            <div class="rightStars" style="background-image: url('{{ right_stars }}');background-size: 36px;background-repeat:no-repeat;width:36px;height: 40px; display: inline-block;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="classySubtitle" style="font-family:proxima-nova,sans-serif;font-size: 18px;color:#565656;padding:0;margin-top:0px;margin-bottom: 0px; ">Pack</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>
    <!--que incluye?-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td>
                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 30px;">
                    <tr>
                        <td style="width: 36px" valign="middle">
                            <div class="include" style="background-image: url('{{ include_icon }}');background-size: 32px;background-repeat:no-repeat;width:32px;height: 36px; display: inline-block;"></div>
                        </td>
                        <td>
                            <h2 style="display: inline-block;font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;color:black;padding: 0;margin:0 ">
                                {% trans "What does this include?" %}
                            </h2>
                        </td>
                    </tr>
                </table>
                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px;">
                    <tr>
                        <td rowspan="3" style="padding-right: 15px">
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                        </td>
                        <td style="text-align: center" valign="middle">
                            <div class="ring" style="background-image: url('{{ ring_icon }}');background-size: 32px;background-repeat:no-repeat;vertical-align:middle;width:32px;height: 26px; display: inline-block;padding-right: 8px"></div>
                        </td>
                        <td>
                            <p class="plates" style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">{% trans "Starter and main course" %} <span style="color:#525252;font-style: italic"> “{% trans "Taste the restaurant’s star dishes" %}” </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center" valign="middle">
                            <div class="drink" style="background-image: url('{{ coctel_icon }}');background-size: 20px;background-repeat:no-repeat;vertical-align:middle;width:20px;height: 36px; display: inline-block;padding-right: 8px"></div>
                        </td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">
                                {% trans "A drink" %}.
                                <span style="color:#525252;font-style: italic">
                                    {% trans "“Are you more of a water, beer or wine drinker?”" %}
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center" valign="middle">
                            <div class="dessert" style="background-image: url('{{ clock_icon }}');background-size: 32px;background-repeat:no-repeat;vertical-align:middle;width:32px;height: 40px; display: inline-block;padding-right: 8px"></div>
                        </td>
                        <td>
                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">
                                {% trans "Dessert" %}.
                                <span style="color:#525252;font-style: italic">
                                {% trans "“A coffee just isn't enough to end such a sweet evening”" %}
                            </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

    <!--restaurant image-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td>
                <img src="{% static 'mail_templates/images/restaurant.png' %}" width="600" style="width: 100%;max-width:600px;height: auto; display: block;"/>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:#5D5D5D;padding-left: 30px;padding-right:200px;margin:0">
                    {% trans "The photographs are not a real visual representation of the restaurants. EatKube is not responsible for any inaccuracy displayed through the photos." %}
                </p>
            </td>
        </tr>
    </table>

    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

    <!--tu regalo te espera-->
    <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 60px;padding-right:60px">
        <tr>
            <td>
                <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px; font-weight:601;text-align:center;text-transform:uppercase;color:#F05638;padding:0;margin:0;">
                    {% trans "We assure you it will be an unforgettable surprise experience" %}
                </p>
            </td>
        </tr>
    </table>
{% endblock %}