@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*colores:
    marron:#8A8070
    celeste:#7ABA96
*/
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
* h2{
    color:#57534c;
}
* h3,h4{
    color: #7ABA96;
}
.center {
    /*width: 50%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*MENU WEB*/
body header figure{
    padding-top: 2em;
}
.menuWeb ul {
    text-align: center;
}

.menuWeb ul li {
    margin-right: 1em;
    display: inline-block;
}
body header .menuWeb{
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    width: 100%;
}

/*GALERIA*/
div.galery {
    width: 20em;
    height: 28em;
    border: 1px solid #ccc;
    margin: 1em;
    float: left;
    overflow: hidden;
}

.imgGalery {
    width: 20em;
    height: 15em;
}

.galery .hrzBorder {
    border-top: 1px solid #7fdbff;
    border-bottom: 1px solid #7fdbff;
    text-align: center;
}

.galery .imgTitle {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

/*OTRAS*/
main {
    padding-top: 4em;
    float: left;
    width: 70%;
}

aside {
    padding-top: 4em;
    float: left;
    width: 30%;
}
aside img{
    border-radius: 200px;
}
.buttom {
    color: cornsilk;
    background-color: blueviolet;
    width: 10em;
    height: 3em;
    text-align: center;
    padding: 1px;
    margin: auto;
}

body>footer {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 4em;
    background-color: black;
    color: blanchedalmond;
}
/*RECETA PAGE*/
.recipe main header{
    margin-top: 1em;
}
.recipe main section{
    border-top:1px solid black;
}
.ingredients{
    width: 30%;
    padding-left: 1em;
    background-color: #7ABA96;
    border: 1px dotted black;
    margin: 0.5em 0px;
}
.recipe main footer{
    width: 60%;
    padding: 0.5em 0em;
}
.recipe main footer h2{
    color: #7ABA96 ;
}
.recipe input{
    width: 100%;
}
.recipe input[type=submit],input[type=reset]{
    width: auto;
}
.recipe input[id=comentario]{
    height: 10em;
}
/*aside menu*/
.asideMenu ul{
    list-style-type: none;
}
/*a settings*/
a{
    text-decoration: none;
}
a:link{
    color: #7ABA96;
}
a:visited{
    color: #527c64;
}
aside a{
    font-weight: bold;
}
.disabled{
    color: gray;
    cursor:not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.disabled:hover{
    text-decoration: none;
    color:gray;
}
/*hovers*/
a:hover{
    text-decoration: underline;
    color:#7fd8a5;
}
/*LISTA RECETAS*/
.recipeList main div{
    background-color: #a0927c ;
    line-height: 100%;
    overflow: hidden;
    margin: 1em 0em;
    border: 2px solid gray;
}
.recipeList main div img{
    margin: 1em;
    float: left;
}
.recipeList main div a{
    font-weight: bold;
}