main{
    background-color: #7ABA96;
}
main{
    width: 100%;
    height:42em;
}
main h2{
    text-align: center;
}
/*FORM*/
main form{
    width: 60%;
    margin: 0% auto;

}
main input{
    width: 100%;
}
main input[type=submit],input[type=reset]{
    width: auto;;
}
main input[id=comentario]{
    height: 10em;
}
