<!.png' %}") html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <title></title>
    <!--[if mso]>
    <style type="text/css">
        table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}


    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->

    <style type="text/css">

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular.otf' %}") format("opentype");
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold.otf' %}") format("opentype");
            font-weight: 600;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold.otf' %}") format("opentype");
            font-weight: bold;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold.otf' %}") format("opentype");
            font-weight: 900;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular-Italic.otf' %}") format("opentype");
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold-Italic.otf' %}") format("opentype");
            font-weight: 600;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold-Italic.otf'") format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold-Italic.otf' %}") format("opentype");
            font-weight: 900;
            font-style: italic;
        }

        @font-face {
            font-family: "Proxima Nova Alt";
            src: local("ProximaNovaAlt"),
            url("{% static 'mail_templates/fonts/Proxima-Nova-Alt.ttf' %}") format("truetype");
            font-weight: normal;
        }

        .color{
            color:#F05638;
        }

        .happyTitle {
            margin-bottom: -12px !important;
        }
        .happySubtitle {
            margin-top: -5px !important;
        }
        /*WOW*/
        .wow .headerBackground {
            background-image: url("{% static 'mail_templates/images/wow/wow-header-background.png' %}") !important;
        }
        .wow .textColor {
            color:#814FDB !important;
        }
        .wow .verticalLine {
            border-left: 2px solid #814FDB !important;
        }
        .wow .leftStars {
            background-image: url("{% static 'mail_templates/images/wow/wow-left-stars.png' %}") !important;
        }
        .wow .rightStars {
            background-image: url("{% static 'mail_templates/images/wow/wow-right-stars.png' %}") !important;
        }
        .wow .calendar {
            background-image: url("{% static 'mail_templates/images/wow/wow-calendar-icon.png' %}") !important;
        }
        .wow .mapPoint {
            background-image: url("{% static 'mail_templates/images/wow/wow-map-point-icon.png' %}") !important;
        }
        .wow .info {
            background-image: url("{% static 'mail_templates/images/wow/wow-info-icon.png' %}") !important;
        }
        .wow .megaphone {
            background-image: url("{% static 'mail_templates/images/wow/wow-megaphone-icon.png' %}") !important;
        }
        .wow .footerBackground {
            background-image: url("{% static 'mail_templates/images/wow/wow-footer-background.png' %}") !important;
        }
        .wow .textRestaurantBackground {
            background-image: url("{% static 'mail_templates/images/wow/wow-restaurant-text-background.png' %}") !important;
        }

        /*CLASSY*/
        .classy .headerBackground {
            background-image: url("{% static 'mail_templates/images/classy/classy-header-background.png' %}") !important;
        }

        .classy .textColor {
            color: #D28D2E !important;
        }

        .classy .verticalLine {
            border-left: 2px solid #D28D2E !important;
        }
        .classy .leftStars {
            background-image: url("{% static 'mail_templates/images/classy/classy-left-stars.png' %}") !important;
        }
        .classy .rightStars {
            background-image: url("{% static 'mail_templates/images/classy/classy-right-stars.png' %}") !important;
        }
        .classy .calendar {
            background-image: url("{% static 'mail_templates/images/classy/classy-calendar-icon.png' %}") !important;
        }
        .classy .mapPoint {
            background-image: url("{% static 'mail_templates/images/classy/classy-map-point-icon.png' %}") !important;
        }
        .classy .info {
            background-image: url("{% static 'mail_templates/images/classy/classy-info-icon.png' %}") !important;
        }
        .classy .megaphone {
            background-image: url("{% static 'mail_templates/images/classy/classy-megaphone-icon.png' %}") !important;
        }
        .classy .textRestaurantBackground {
            background-image: url("{% static 'mail_templates/images/classy/classy-restaurant-text-background.png' %}") !important;
        }
        .classy .footerBackground {
            background-image: url("{% static 'mail_templates/images/classy/classy-footer-background.png' %}") !important;
        }
    </style>

</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
<div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td align="center">
                <!--[if mso]>
                <table role="presentation" align="center" style="width:600px;">
                    <tr>
                        <td style="padding:20px 0;">
                <![endif]-->
                <div class="{{package_name}}" style="width:96%;max-width:600px;margin:20px auto;">
                    <!--here begins the code-->
                    <!--HEADER-->
                    <table role="presentation" class="headerBackground" style="background-image: url("{% static 'mail_templates/images/header-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr style="height: 212px">
                            <td colspan="2" style="text-align:left;padding:10px 10px 20px 10px;">
                                <table role="presentation" style="border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <td><img src="../../../resources/images/eatkube-logo.png" width="180" style="width:180px;height: auto; display: inline-block;"/></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 40px; display: inline-block;"> </div>
                                            <h2 class="textColor" style="display:inline-block;font-family:proxima-nova,sans-serif;font-size:22px;font-weight:701;color:#F05638;text-transform: uppercase;padding: 0;margin:0">
                                                The moment has arrived!
                                            </h2>
                                            <div class="leftStars" style="background-image:url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;display:inline-block;width:36px;height: 40px;"> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size:18px;font-weight:701;color:#F05638;margin:0 ">{% trans "
                                                Discover your surprise restaurant
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:120px;text-align:right;padding:10px 10px 20px 10px;" valign="bottom">
                                <table align="right"  role="presentation" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; text-align: center">
                                    <tr>
                                        <td valign="top"><div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:15px;font-weight: 501;color:white;padding: 0;margin:0 ">{% trans "
                                                THE TASTE OF
                                            " %}</p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:40px;font-weight:801;color:white;padding: 0;margin:0 ".png' %}")/p>
                                        </td>
                                        <td valign="middle"><div class="leftStars" style="background-image: url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:10px 0 20px 40px;" valign="bottom">
                                <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;padding: 0;margin:10px 0 10px 0 ">
                                    ¡hello {{name}}!
                                </h2>
                                <p style="font-family:proxima-nova,sans-serif;font-size:18px;color:black;font-style: italic;width:300px;padding:0;margin:0 ">{% trans "
                                    The time has come to get ready and go enjoy the surprise menu we have organized for you
                                " %}</p>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--TU RESTAURANTE-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                                    <tr>
                                        <td><div style="border: 1px solid #CECECE;background-color:#CECECE"> </div></td>
                                        <td style="width: 250px;">
                                            <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;text-align:center;padding: 0;">{% trans "Your surprise restaurant is" %}</h2>
                                        </td>
                                        <td><div style="border: 1px solid #CECECE;background-color:#CECECE"> </div></td>
                                    </tr>
                                </table>

                                <table role="presentation" style="background-image:url("{% static 'mail_templates/images/restaurant-2.png' %}");background-size:600px;background-repeat:no-repeat;
                                width:100%;height:260px;border:0;border-spacing:0;">
                                    <tr>
                                        <td valign="bottom">
                                            <table class="textRestaurantBackground" role="presentation" style="background-image:url("{% static 'mail_templates/images/restaurant-text-background.png' %}");background-size:600px;background-repeat:no-repeat;
                                            width:100%;height:130px;border:0;border-spacing:0;padding-top:30px;padding-left: 30px">
                                                <tr>
                                                    <td style="width: 36px">
                                                        <div class="mapPoint" style="background-image: url("{% static 'mail_templates/images/map-point-icon.png' %}");background-size: 24px;
                                            background-repeat:no-repeat;width:24px;height: 30px; display: block;"> </div>
                                                    </td>
                                                    <td>
                                                        <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px;
                                            font-weight:601;text-transform:uppercase;color:#F05638;padding:0;margin:0;">
                                                            {{restaurant_name}}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--Detalles de tu reserva-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;">
                                    <tr>
                                        <td style="width: 36px">
                                            <div class="calendar" style="background-image: url("{% static 'mail_templates/images/calendar-icon.png' %}");background-size: 24px;
                                            background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">{% trans "
                                                Reservation details
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px">
                                    <tr>
                                        <td rowspan="5" style="padding-right: 5px">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Date:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_date}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Time:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_hour}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                City:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_city}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Number of people:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_diners}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Your gastronomic package:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{package_name}} pack
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--info del restaurante-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;">
                                    <tr>
                                        <td style="width: 36px">
                                            <div class="info" style="background-image: url("{% static 'mail_templates/images/info-icon.png' %}");background-size: 24px;
                                            background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">{% trans "
                                                Restaurant information
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px">
                                    <tr>
                                        <td rowspan="5" style="padding-right: 5px">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Restaurant name:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{restaurant_name}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Type of cuisine:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{restaurant_kitchen_type}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Address:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{restaurant_address}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Contact details:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{restaurant_contact}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--concejos-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;">
                                    <tr>
                                        <td style="width: 36px">
                                            <div class="megaphone" style="background-image: url("{% static 'mail_templates/images/megaphone-icon.png' %}");background-size: 32px;
                                            background-repeat:no-repeat;width:32px;height: 32px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">{% trans "
                                                We advise you
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px">
                                    <tr>
                                        <td rowspan="3" style="padding-right: 5px">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">{% trans "
                                                To be punctual
                                            " %}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">{% trans "
                                                Take a look at the restaurant before you go
                                            " %}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">{% trans "
                                                Take into account the relevant COVID measures
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--buen provecho-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 60px;padding-right:60px">
                        <tr>
                            <td>
                                <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px;
                                            font-weight:601;text-align:center;text-transform:uppercase;color:#F05638;padding:0;margin:0;">
                                    ENJOY THE SURPRISE EXPERIENCE!
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- footer-->
                    <table class="footerBackground" role="presentation" style="background-image: url("{% static 'mail_templates/images/footer-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td style="padding-bottom: 60px">

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center; padding-top: 200px">
                                    <tr>
                                        <td style="min-width: 220px" >
                                            <img src="../../../resources/images/letter-icon.png" width="24" style="width: 24px;height: auto; display: inline-block;" alt="letter icon"/>
                                        </td>
                                        <td rowspan="2">
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <img src="../../../resources/images/social-icons.png" width="164" style="width: 164px;height: auto; display: inline-block;" alt="social nerwork icons"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">
                                                Contact us through 
                                            </p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:#F05638;padding:0;margin:0 ">
                                                info@eatkube.com.
                                            </p>
                                        </td>
                                        <td style="display: inline-block">
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;width:230px;color:black;padding:0;margin:0 ">
                                                Remember to follow us on our social media pages so that you don’t miss out on our offers and promotions.
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                                    <tr>
                                        <td><img src="../../../resources/images/eatkube-logo.png" width="54" style="width:54px;height: auto; display: block;margin:40px 0px 5px 0px "/></td>
                                        <td><h2  style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:#F05638;margin:40px 0px 5px 0px " >{% trans "EatKube" %}</h2></td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                Kube Ecosystem S.L. ESB67040998 - Gran via 415, Barcelona, Spain 08015.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                This email was sent as a booking notification.
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                    <!--Here ends the code-->
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>

