<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <title></title>
    <!--[if mso]>
    <style type="text/css">
        table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}


    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->

    <style type="text/css">

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular.otf' %}") format("opentype");
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold.otf' %}") format("opentype");
            font-weight: 600;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold.otf' %}") format("opentype");
            font-weight: bold;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold.otf' %}") format("opentype");
            font-weight: 900;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular-Italic.otf' %}") format("opentype");
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold-Italic.otf' %}") format("opentype");
            font-weight: 600;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold-Italic.otf' %}") format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold-Italic.otf' %}") format("opentype");
            font-weight: 900;
            font-style: italic;
        }

        @font-face {
            font-family: "Proxima Nova Alt";
            src: local("ProximaNovaAlt"),
            url("{% static 'mail_templates/fonts/Proxima-Nova-Alt.ttf") format("truetype");
            font-weight: normal;
        }


        .color{
            color:#F05638;
        }
    </style>

</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
<div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td align="center">
                <!--[if mso]>
                <table role="presentation" align="center" style="width:600px;">
                    <tr>
                        <td style="padding:20px 0;">
                <![endif]-->
                <div class="outer" style="width:96%;max-width:600px;margin:20px auto;">
                    <!--here begins the code-->
                    <!--HEADER-->
                    <table role="presentation" style="background-image: url("{% static 'mail_templates/images/header-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr style="height: 212px">
                            <td colspan="2" style="text-align:left;padding:10px 10px 20px 10px;">
                                <table role="presentation" style="border:0;border-spacing:0;text-align: center;">
                                    <tr>
                                        <td>
                                            <td><img src="../../../resources/images/eatkube-logo.png" width="180" style="width:180px;height: auto; display: inline-block;"/></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="textColor" style="display:inline-block;font-family:proxima-nova,sans-serif;font-size:20px;font-weight:701;width:360px;color:#F05638;text-transform: uppercase;padding: 0;margin:0">{% trans "
                                                BOOKING CONFIRMATIONS
                                            " %}</h2>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:120px;text-align:right;padding:10px 10px 20px 10px;" valign="bottom">
                                <table align="right"  role="presentation" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; text-align: center">
                                    <tr>
                                        <td valign="top"><div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:15px;font-weight: 501;color:white;padding: 0;margin:0 ">{% trans "
                                                THE TASTE OF
                                            " %}</p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:40px;font-weight:801;color:white;padding: 0;margin:0 ">{% trans "
                                                Surprises
                                            " %}</p>
                                        </td>
                                        <td valign="middle"><div class="leftStars" style="background-image: url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:10px 0 20px 40px;" valign="bottom">
                                <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;padding: 0;margin:10px 0 10px 0 ">
                                    ¡Hello {{restaurant_name}}!
                                </h2>
                                <p style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 501;color:black;font-style: italic;padding: 0;margin:0 ">{% trans "
                                    You have pending reservations that need to be confirmed
                                " %}</p>
                                <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">
                                    Remember to accept them within 24 hours
                                </p>
                            </td>
                        </tr>
                    </table>
                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>
                    <!--contenedor de reservas-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <!--reservas(esta tabla es la reserva, con esta se realiza el bucle)-->
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;">
                                    <tr>
                                        <td rowspan="6" valign="top" style="width: 30px;padding-top: 10px">
                                            <div style="border: 1px solid #CECECE;background-color:#CECECE;width: 35px;"> </div>
                                        </td>
                                        <td rowspan="6" valign="top">
                                            <h3 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;text-align:center;padding: 0;margin:0 ">
                                                {{reserve_index}}
                                            </h3>
                                        </td>
                                        <td rowspan="6" style="padding-right: 5px">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Date:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_date}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Hour:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_hour}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Name:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_name}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Number of guests:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{reserve_diners}}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                Comments:
                                            </p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;font-style:italic;color:#484848;padding:0;margin:0">
                                                {{reserve_observations}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr> <td> <p></p></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>
                    <!--app-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td style="text-align: center">
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;margin-bottom:30px;">
                                    <tr>
                                        <td style="width: 36px">
                                            <div class="info" style="background-image: url("{% static 'mail_templates/images/info-icon.png' %}");background-size: 24px;
                                            background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">
                                                In order to manage these reservations, download our app
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;font-style:italic;padding:0;margin:0 ">
                                                It is necessary to use the app in order to manage reservations. You can download it by tapping the icon if you do not already have it
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <a href="https://play.google.com/store/apps/details?id=com.eatkube.restaurantapp}" target="_blank">
                                    <div class="" style="background-image: url("{% static 'mail_templates/images/eatkube-app-icon.png' %}");
                                    background-size: 78px;background-repeat:no-repeat;width:78px;height: 78px; display: inline-block;"> </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- footer-->
                    <table role="presentation" style="background-image: url("{% static 'mail_templates/images/footer-background.png' %}");background-size:600px;width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center; padding-top: 200px">
                                    <tr>
                                        <td style="min-width: 220px">
                                            <img src="../../../resources/images/letter-icon.png" width="24" style="width: 24px;height: auto; display: inline-block;" alt="letter icon"/>
                                        </td>
                                        <td rowspan="2">
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <img src="../../../resources/images/social-icons.png" width="164" style="width: 164px;height: auto; display: inline-block;" alt="social nerwork icons"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">{% trans "
                                                Contact us through
                                            " %}</p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:#F05638;padding:0;margin:0 ">
                                                info@eatkube.com.
                                            </p>
                                        </td>
                                        <td style="display: inline-block">
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;width:230px;color:black;padding:0;margin:0 ">
                                                Remember to follow us on our social media pages so that you don’t miss out on our offers and promotions
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                                    <tr>
                                        <td><img src="../../../resources/images/eatkube-logo.png" width="54" style="width:54px;height: auto; display: block;margin:40px 0px 5px 0px "/></td>
                                        <td><h2 style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:#F05638;margin:40px 0px 5px 0px " >{% trans "EatKube" %}</h2></td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                Kube Ecosystem S.L. ESB67040998 - Gran via 415, Barcelona, Spain 08015.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">{% trans "
                                                This email was sent as a booking notification
                                            " %}</p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                    <!--Here ends the code-->
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>

