{% load i18n %}
<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <title></title>
    <!--[if mso]>
    <style type="text/css">
        table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}
    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->

    <style type="text/css">

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular.otf' %}") format("opentype");
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold.otf' %}") format("opentype");
            font-weight: 600;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Bold.otf' %}") format("opentype");
            font-weight: bold;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold.otf' %}") format("opentype");
            font-weight: 900;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Regular-Italic.otf' %}") format("opentype");
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Semibold-Italic.otf' %}") format("opentype");
            font-weight: 600;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("'{% static 'mail_templates/fonts/Proxima-Nova-Bold-Italic.otf'") format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: proxima-nova;
            src: url("{% static 'mail_templates/fonts/Proxima-Nova-Extrabold-Italic.otf' %}") format("opentype");
            font-weight: 900;
            font-style: italic;
        }

        @font-face {
            font-family: "Proxima Nova Alt";
            src: local("ProximaNovaAlt"),
            url("{% static 'mail_templates/fonts/Proxima-Nova-Alt.ttf' %}") format("truetype");
            font-weight: normal;
        }

        /*TEMP*/
        table,td,tr {
            border:1px solid black;
        }
        .color{
            color:#F05638;
        }

        .happyTitle {
            margin-bottom: -12px !important;
        }
        .happySubtitle {
            margin-top: -5px !important;
        }
        /*WOW*/
        .wow .headerBackground {
            background-image: url("{% static 'mail_templates/images/wow/wow-header-background.png' %}") !important;
        }
        .wow .textColor {
            color:#814FDB !important;
        }

        .wow .verticalLine {
            border-left: 2px solid #814FDB !important;
        }

        .wow .leftStars {
            background-image: url("{% static 'mail_templates/images/wow/wow-left-stars.png' %}") !important;
        }

        .wow .rightStars {
            background-image: url("{% static 'mail_templates/images/wow/wow-right-stars.png' %}") !important;
        }

        .wow .clock {
            background-image: url("{% static 'mail_templates/images/wow/wow-clock-icon.png' %}") !important;
        }

        .wow .calendar {
            background-image: url("{% static 'mail_templates/images/wow/wow-calendar-icon.png' %}") !important;
        }
        .wow .adjust {
            background-image: url("{% static 'mail_templates/images/wow/wow-adjust-icon.png' %}") !important;
        }
        .wow .present {
            background-image: url("{% static 'mail_templates/images/wow/wow-present-icon.png' %}") !important;
        }
        .wow .include {
            background-image: url("{% static 'mail_templates/images/wow/wow-include-icon.png' %}") !important;
        }
        .wow .ring {
            background-image: url("{% static 'mail_templates/images/wow/wow-ring-icon.png' %}") !important;
        }
        .wow .drink {
            background-image: url("{% static 'mail_templates/images/wow/wow-champagne-icon.png' %}") !important;
            background-size: 12px !important;
            width: 12px!important;
            height: 38px !important;
        }
        .wow .dessert {
            background-image: url("{% static 'mail_templates/images/wow/wow-dessert-icon.png' %}") !important;
        }

        .wow .footerBackground {
            background-image: url("{% static 'mail_templates/images/wow/wow-footer-background.png' %}") !important;
        }

        /*CLASSY*/
        .classy .headerBackground {
            background-image: url("{% static 'mail_templates/images/classy/classy-header-background.png' %}") !important;
        }

        .classy .textColor {
            color: #D28D2E !important;
        }

        .classy .verticalLine {
            border-left: 2px solid #D28D2E !important;
        }
        .classy .leftStars {
            background-image: url("{% static 'mail_templates/images/classy/classy-left-stars.png' %}") !important;
        }
        .classy .rightStars {
            background-image: url("{% static 'mail_templates/images/classy/classy-right-stars.png' %}") !important;
        }

        .classy .clock {
            background-image: url("{% static 'mail_templates/images/classy/classy-clock-icon.png' %}") !important;
        }

        .classy .calendar {
            background-image: url("{% static 'mail_templates/images/classy/classy-calendar-icon.png' %}") !important;
        }
        .classy .adjust {
            background-image: url("{% static 'mail_templates/images/classy/classy-adjust-icon.png' %}") !important;
        }
        .classy .present {
            background-image: url("{% static 'mail_templates/images/classy/classy-present-icon.png' %}") !important;
        }
        .classy .include {
            background-image: url("{% static 'mail_templates/images/classy/classy-include-icon.png' %}") !important;
        }
        .classy .ring {
            background-image: url("{% static 'mail_templates/images/classy/classy-ring-icon.png' %}") !important;
        }
        .classy .drink {
            background-image: url("{% static 'mail_templates/images/classy/classy-coctel-icon.png' %}") !important;
            background-size: 28px !important;
            width: 28px!important;
            height: 38px !important;
        }
        .classy .dessert {
            background-image: url("{% static 'mail_templates/images/classy/classy-dessert-icon.png' %}") !important;
        }
        .classy .footerBackground {
            background-image: url("{% static 'mail_templates/images/classy/classy-footer-background.png' %}") !important;
        }
    </style>

</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
<div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
        <tr>
            <td align="center">
                <!--[if mso]>
                <table role="presentation" align="center" style="width:600px;">
                    <tr>
                        <td style="padding:20px 0;">
                <![endif]-->
                <div class="{{package_name}}" style="width:96%;max-width:600px;margin:20px auto;">
                    <!--here begins the code-->
                    <!--HEADER-->
                    <table role="presentation" class="headerBackground" style="background-image: url("{% static 'mail_templates/images/header-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr style="height: 212px">
                            <td colspan="2" style="text-align:left;padding:10px 10px 20px 10px;">

                                <table role="presentation" style="border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <td><img src="{% static 'email_templates/images/eatkube-logo.png' %}" width="54" style="width:54px;height: auto; display: block;"/></td>
                                                    <td><h2 style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:black;" >EatKube</h2></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 40px; display: inline-block;"> </div>
                                            <h2 class="textColor" style="display:inline-block;font-family:proxima-nova,sans-serif;font-size:22px;font-weight:701;color:#F05638;text-transform: uppercase;padding: 0;margin:0">
                                                {% trans "Reservation confirmed" %}!
                                            </h2>
                                            <div class="leftStars" style="background-image:url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;display:inline-block;width:36px;height: 40px;"> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size:18px;font-weight:701;color:#F05638;margin:0 ">
                                                {% trans "Your surprise restaurant awaits you" %}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:120px;text-align:right;padding:10px 10px 20px 10px;" valign="bottom">
                                <table align="right"  role="presentation" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; text-align: center">
                                    <tr>
                                        <td valign="top"><div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:15px;font-weight: 501;color:white;padding: 0;margin:0 ">
                                                EL SABOR DE LA
                                            </p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size:40px;font-weight:801;color:white;padding: 0;margin:0 ">
                                                Sorpresa
                                            </p>
                                        </td>
                                        <td valign="middle"><div class="leftStars" style="background-image: url("{% static 'mail_templates/images/left-stars.png' %}");background-size: 36px;width:36px;height: 36px; display: inline-block;"> </div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:10px 0 20px 40px;" valign="bottom">
                                <h2 class="textColor" style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 601;color:#F05638;padding: 0;margin:10px 0 10px 0 ">
                                    {% blocktrans with name=order.name %}
                                    Hello {{ name }}!
                                    {% endblocktrans %}
                                </h2>
                                <p style="font-family:proxima-nova,sans-serif;font-size:20px;font-weight: 501;color:black;font-style: italic;padding: 0;margin:0 ">
                                    {% trans "Thank you for booking with EatKube" %}!
                                </p>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--UN RESTAURANTE Y UN MENU-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px;
                                            font-weight:601;text-align:center;text-transform:uppercase;color:#F05638;padding:0;margin:30px 0px 30px 0px">
                                    {% trans "Both the restaurant and menu will be a surprise" %}!

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                <table align="center" role="presentation" style="width:75%;border:0;border-spacing:0;display: inline-block">
                                    <tr>
                                        <td valign="top">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td valign="top">
                                            <div class="clock" style="background-image: url("{% static 'mail_templates/images/clock-icon.png' %}");
                                            background-size: 28px;background-repeat:no-repeat;width:28px;height: 32px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;font-style: italic;padding:0;margin:0">
                                                {% trans "You will receive more information 2 hours before your reservation" %}.<br><br>
                                                {% trans "The perfect way to discover new restaurants in your city and to try different cooking styles in an innovative way" %}.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--Detalles de tu reserva-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-right: 30px;padding-left: 30px;">
                                    <tr>
                                        <td style="width: 36px">
                                            <div class="calendar" style="background-image: url("{% static 'mail_templates/images/calendar-icon.png' %}");background-size: 24px;
                                            background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:501;font-style:italic;color:black;padding:0;margin:0 ">
                                                {% trans "Reservation details" %}
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 60px;padding-right: 60px">
                                    <tr>
                                        <td rowspan="4" style="padding-right: 5px">
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div class="verticalLine" style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                {% trans "Date" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{ order.day }}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                {% trans "Time" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{ order.hour }}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                {% trans "City" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{ order.city }}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:black;padding:0;margin:0 ">
                                                {% trans "Number of people" %}:<span style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:401;color:black;padding:0;margin:0">
                                                {{ order.number_of_people }}
                                            </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--Tu pack gastronomico-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 30px;">
                                    <tr>
                                        <td style="width: 34px">
                                            <div class="adjust" style="background-image: url("{% static 'mail_templates/images/adjust-icon.png' %}");
                                            background-size: 24px;background-repeat:no-repeat;width:24px;height: 24px; display: inline-block;"> </div>
                                        </td>
                                        <td style="width: 250px"><h2 style="display: inline-block;font-family:proxima-nova,sans-serif;font-size: 18px;font-style:italic;font-weight:501;color:black;padding: 0;margin:0 ">
                                            {% trans "Your gastronomic package" %}
                                        </h2></td>
                                        <td>
                                            <div style="border: 2px solid #CECECE;background-color:#CECECE"> </div>
                                        </td>
                                    </tr>
                                </table>
                                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="present" style="background-image: url("{% static 'mail_templates/images/present-icon.png' %}");background-size: 48px;background-repeat:no-repeat;width:48px;height: 56px; display: inline-block;"> </div>
                                        </td>
                                        <td>
                                            <p class="textColor happyTitle" style="font-family:proxima-nova,sans-serif;font-size: 42px;font-weight:701;color:#F05638;padding:0;margin-top:0;margin-bottom:0px">{{ order.hired_experience_name }}</p>
                                        </td>
                                        <td rowspan="2" valign="bottom">
                                            <div class="rightStars" style="background-image: url("{% static 'mail_templates/images/right-stars.png' %}");background-size: 36px;background-repeat:no-repeat;width:36px;height: 40px; display: inline-block;"> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="happySubtitle" style="font-family:proxima-nova,sans-serif;font-size: 18px;color:#565656;padding:0;margin-top:0px;margin-bottom: 0px; ">Pack</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--que incluye?-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                                    <tr>
                                        <td style="width: 250px" valign="middle">
                                            <img src="{% static 'email_templates/images/include-icon.png' %}" alt="include icon" style="display: inline-block;vertical-align:middle;height: auto;width: 32px" alt="include box icon"/>
                                            <h2 style="display: inline-block;font-family:proxima-nova,sans-serif;font-size: 18px;font-weight:601;color:black;padding: 0;margin:0 ">
                                                {% trans "What does this include?" %}
                                            </h2>
                                        </td>
                                        <td>
                                            <div style="border: 2px solid #CECECE;background-color:#CECECE"> </div>
                                        </td>
                                    </tr>
                                </table>


                                <table role="presentation" style="width:100%;border:0;border-spacing:0;margin:20px 0 20px 0;padding-left: 20px;">
                                    <tr>
                                        <td rowspan="3">
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td><img src="{% static 'email_templates/images/ring-icon.png' %}" alt="ring icon" style="height: auto;width: 32px;padding:0px 10px 0 10px"/></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">{% trans "1 or 2 courses in line with the restaurant’s cooking style" %}.
                                                <span style="color:#525252;font-style: italic">
                                                    {% trans "“A succulent burger, delicious pizza or many more of our options could be your main course”" %}.
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'email_templates/images/glass-icon.png' %}" alt="glass icon" style="height: auto;width: 24px;padding:0px 14px 0px 14px"/></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">{% trans "A drink" %}.
                                                <span style="color:#525252;font-style: italic">
                                                    {% trans "“Are you more of a water, beer or wine drinker?”" %}
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'email_templates/images/clock-icon.png' %}" alt="clock icon" style="height: auto;width: 32px;padding:0px 10px 0px 10px"/></td>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0">{% trans "2 hours before" %}.
                                                <span style="color:#525252;font-style: italic">
                                                    {% trans "“We will send you an email revealing your restaurant. The time to enjoy!”" %}
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--restaurant image-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td>
                                <img src="{% static 'email_templates/images/restaurant.png' %}" width="600" style="width: 100%;max-width:600px;height: auto; display: block;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:#5D5D5D;padding-left: 30px;padding-right:200px;margin:0">
                                    {% trans "The photographs are not a real visual representation of the restaurants. EatKube is not responsible for any inaccuracy displayed through the photos." %}
                                </p>
                            </td>
                        </tr>
                    </table>

                    <div class="spacer" style="line-height:26px;height:26px;mso-line-height-rule:exactly;">&nbsp;</div>

                    <!--tu regalo te espera-->
                    <table role="presentation" style="width:100%;border:0;border-spacing:0;padding-left: 60px;padding-right:60px">
                        <tr>
                            <td>
                                <p class="textColor" style="font-family:proxima-nova,sans-serif;font-size: 20px;
                                            font-weight:601;text-align:center;text-transform:uppercase;color:#F05638;padding:0;margin:0;">
                                    {% trans "We assure you it will be an unforgettable surprise experience" %}
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- footer-->
                    <table class="footerBackground" role="presentation" style="background-image: url("{% static 'mail_templates/images/footer-background.png' %}");background-size:600px;
                    background-repeat:no-repeat;width:100%;border:0;border-spacing:0;">
                        <tr>
                            <td style="padding-bottom: 60px">

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center; padding-top: 200px">
                                    <tr>
                                        <td >
                                            <img src="{% static 'email_templates/images/letter-icon.png' %}" width="24" style="width: 24px;height: auto; display: inline-block;" alt="letter icon"/>
                                        </td>
                                        <td rowspan="2">
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                            <div style="border-left: 2px solid #F05638;height: 13px;margin:4px 0 4px 0;"></div>
                                        </td>
                                        <td>
                                            <img src="{% static 'email_templates/images/social-icons.png' %}" width="164" style="width: 164px;height: auto; display: inline-block;" alt="social nerwork icons"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;color:black;padding:0;margin:0 ">
                                                {% trans "Contact us through" %}
                                            </p>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;font-weight:601;color:#F05638;padding:0;margin:0 ">
                                                info@eatkube.com.
                                            </p>
                                        </td>
                                        <td style="display: inline-block">
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 14px;width:230px;color:black;padding:0;margin:0 ">
                                                {% trans "Remember to follow us on our social networks so you don't miss all our offers and promotions!" %}
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <table align="center" role="presentation" style="border:0;border-spacing:0;">
                                    <tr>
                                        <td><img src="{% static 'email_templates/images/eatkube-logo.png' %}" width="54" style="width:54px;height: auto; display: block;margin:40px 0px 5px 0px "/></td>
                                        <td><h2  style="font-family:proxima-nova,sans-serif;font-size:34px;font-weight:bold;color:#F05638;margin:40px 0px 5px 0px " >EatKube</h2></td>
                                    </tr>
                                </table>

                                <table role="presentation" style="width:100%;border:0;border-spacing:0;text-align: center">
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                Kube Ecosystem S.L. ESB67040998 - Gran via 415, Barcelona, Spain 08015.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:proxima-nova,sans-serif;font-size: 12px;color:black;padding:0;margin:0 ">
                                                {% trans "This email was sent as a reservation notification" %}.
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                    <!--Here ends the code-->
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>

